server:
  port: 8090

spring:
  application:
    name: user-service


  services:
    order-service:
      url: http://order-service:8081

  springdoc:
    packages-to-scan: com.ocean.userservice.api.controller

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false

  flyway:
    baseline-on-migrate: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

security:
  jwt:
    secret: my-super-secret-key-my-super-secret-key-123456
    expiration-minutes: 5256000


